<header class="calendar-header">
  <section class="calender-header-week">
    <span class="calendar-header-day">Mån</span>
    <span class="calendar-header-day">Tis</span>
    <span class="calendar-header-day">Ons</span>
    <span class="calendar-header-day">Tor</span>
    <span class="calendar-header-day">Fre</span>
    <span class="calendar-header-day">Lör</span>
    <span class="calendar-header-day">Sön</span>
    <span class="calendar-header-day summaries">
      <button class="goto-today" data-action="calendar#smoothScrollToToday">GÅ TILL IDAG</button>
    </span>
  </section>
</header>