<div class="main">
  <%= render 'calendar' %>
</div>

<div class="sidebar" data-controller="sidebar" data-sidebar-toggled="false">
  <div class="stats">
    <%= render 'consistency' %>
    <hr />
    <%= render 'goals' %>
    <hr />
    <%= render 'measurements', measurements: @measurements %>
    <hr />
    <button data-action="sidebar#toggleForm">
      SCHEMALÄGG
    </button>
  </div>

  <div class="workout-list">
    <button data-action="sidebar#toggleForm">
      VISA STATISTIK
    </button>
    <h2>Workout List</h2>
  </div>
</div>