<% date_range.each_slice(7) do |week| %>
  <div class="week-row <%= calendar.tr_classes_for(week).join(' ') %>">
    <strong class="muted">
       <%= week.first.strftime('%d') %> - <%= week.last.strftime('%d %b') %>
    </strong>
    <% week.each do |day| %>
      <div class="week-row-day day <%= calendar.td_classes_for(day).join(' ') %>">
        <% block.call day, sorted_events.fetch(day, []) %>
      </div>
    <% end %>
  </div>
<% end %>
