/* Coolors Exported Palette - coolors.co/e53d00-ffe900-fcfff7-21a0a0-046865 */

$red: rgba(229, 61, 0, 1);
$yellow: rgba(255, 233, 0, 1);
$white: rgba(252, 255, 247, 1);
$blue: rgba(33, 160, 160, 1);
$dark_blue: rgba(4, 104, 101, 1);
