.calendar {
  float: left;
  width: 100%;
}
.calendar-wrapper {
  float: left;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
}

.week-row {
  height: 100%;
  min-width: 400px;
  display: flex;
  flex: 1;
  flex-direction: column;
  border-left: 1px solid #ccc;
  padding: 10px 20px;
}

.week-row .day {
  display: flex;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.week-row .day:last-child {
  border-bottom: none;
}

.week-row .day.past {
  opacity: 0.65;
}

.week-row .day.today {
  background: #feb;
}

.week-row .day .workout {
  float: left;
  width: 100%;
  margin-bottom: 4px;
  font-size: 0.8em;
  font-weight: normal;
  color: #444;
  border-bottom: 1px solid #eee;
  padding: 0 4px 4px 4px;
}

.week-row .day .workout.race {
  background: #4ecdc4;
  font-weight: bold;
}

.week-row .day .workout.done:not(.race) {
  background: #80c159;
}

.week-row .day.past .workout:not(.done):not(.race) {
  background: #eb644a;
}

.current-week {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}

.month-name {
  margin-bottom: 20px;
}

.workout:hover {
  background: #eee;
  border-color: #ccc;
  cursor: move;
}

.day-name {
  float: left;
  width: 40px;
}

.workouts {
  padding-left: 20px;
  float: left;
  width: 100%;
}

.workout .meta {
  float: right;
  font-size: 0.9em;
}

.workout .info {
  float: left;
}
